#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.highlighted {
  stroke: #f00; /* Example: red stroke */
  stroke-width: 3px; /* Example: 3px stroke width */
}

.parent-highlighted {
  fill: rgba(255, 255, 0, 0.5); /* Example: semi-transparent yellow fill */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  font-family: "Arial", sans-serif;
  color: #333;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.tip-button {
  background-color: #ffda00;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

.content {
  background-color: #f2e5d5;
  margin: 20px 0;
  padding: 40px 20px;
}

.intro-text {
  margin-bottom: 30px;
}

.scroll-instruction {
  font-size: 0.9em;
  color: #888;
}

.character {
  background-image: url("/data/src/Elements/mario.png"); /* Replace with your character sprite sheet */
  background-repeat: no-repeat;
  height: 200px; /* Height of the character or frame in the sprite sheet */
  width: 50px; /* Width of each frame in the sprite sheet */
  position: relative;
  animation: walkAnimation 4s steps(4) forwards; /* Adjust time and steps as needed */
}

@keyframes walkAnimation {
  0% {
    left: 0;
    background-position: 0; /* Start position of sprite frames */
  }
  100% {
    left: calc(
      100% - 50px
    ); /* Move to the end of the container, adjust 50px to the width of your character */
    background-position: -200px 0; /* End position of sprite frames, adjust -200px to your sprite sheet's width minus one frame */
  }
}

section {
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro {
  background-color: black;
}

.container {
  width: 3000;
  background-color: rgb(243, 202, 249);
}

.content {
  width: 3000;
  background-color: goldenrod;
}

#character {
  background-color: rgb(71, 14, 64);
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: whitesmoke;
  color: seagreen;
}
