#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  font-family: "Arial", sans-serif;
  color: #333;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.tip-button {
  background-color: #ffda00;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

.content {
  background-color: #f2e5d5;
  margin: 20px 0;
  padding: 40px 20px;
}

.intro-text {
  margin-bottom: 30px;
}

.scroll-instruction {
  font-size: 0.9em;
  color: #888;
}

.character {
  background-image: url("/data/src/Elements/mario.png"); /* Replace with your character sprite sheet */
  background-repeat: no-repeat;
  height: 200vh; /* Height of the character or frame in the sprite sheet */
  width: 100vw; /* Width of each frame in the sprite sheet */
  position: relative;
  animation: walkAnimation 4s steps(4) forwards; /* Adjust time and steps as needed */
}

/* NEED TO IMPROVE */
/* mario character animation */
@keyframes marioFloat {
  0% {
    transform: translateX(-55vw); /* Start off-screen */
    opacity: 1;
  }
  10% {
    transform: translateX(-20vw); /* move towards the right and stop */
    opacity: 1;
  }

  45% {
    transform: translateX(-20vw); /* move towards the right and stop */
    opacity: 1;
  }
  50% {
    transform: translateX(-20vw) translateY(-25vh); /* move upwards */
    opacity: 1;
  }
  55% {
    transform: translateX(-8vw) translateY(-35vh); /* move slight right up diagonal */
    opacity: 1;
  }
  60% {
    transform: translateX(-1vw) translateY(-30vh); /* move very slight down right diagonal, land on block */
    opacity: 1;
  }
  65% {
    transform: translateX(-1vw) translateY(-50vh); /* move upwards */
    opacity: 1;
  }

  70% {
    transform: translateX(8vw) translateY(-60vh); /* move diagonally towards cloud */
    opacity: 1;
  }
  75% {
    transform: translateX(18vw) translateY(-57vh); /* land on cloud */
    opacity: 1;
  }
  80% {
    transform: translateX(30vw) translateY(-57vh); /* go right for jump */
    opacity: 1;
  }
  90% {
    transform: translateX(30vw) translateY(-34vh); /* go down */
    opacity: 1;
  }
  95% {
    transform: translateX(45vw) translateY(-34vh); /* exit screen */
    opacity: 1;
  }
  100% {
    transform: translateX(45vw) translateY(-34vh); /* exit screen */
    opacity: 0;
  }
}

/* -Y means move Up, Y means move Down,  -X means move to R , X means move to L */

.mario {
  position: absolute;
  width: auto;
  height: 30vh;
  bottom: 16vh; /* Adjust as needed */
  animation: marioFloat 30s ease-in-out forwards;
}

/* speech bubble animation */

@keyframes speechbubble-fade {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }
  44% {
    opacity: 1;
  }

  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.speechbubble {
  position: absolute;
  top: -22vh;
  width: 60vw;
  height: 100vh;
  bottom: 0%;
  animation: speechbubble-fade 30s forwards;
}

.title-textbox {
  width: 70vw; /* Adjust width as needed */
  height: 40vh; /* Adjust height as needed */
  position: absolute; /* Use 'absolute' or 'fixed' positioning */
  top: 8vh; /* Adjust to position vertically */
  left: 26vw;
  background-color: transparent;
  text-align: center; /* Optional: Align text */
  /* Add more styling as needed */
}

.title-subtitle {
  font-size: 22px;
  margin-bottom: 45vh;
  font-family: "DotGothic16", sans-serif;
}

.title-text {
  font-size: 18px;

  font-family: "DotGothic16", sans-serif;
}
/* Animation for title slide text to fade in and out */

@keyframes fadeOutText {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  44% {
    opacity: 1;
  }

  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.title-subtitle {
  overflow: hidden;
  animation: typing 4s steps(300) forwards, blinkCursor 0.75s step-end infinite,
    fadeOutText 30s ease forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 920px;
  }
}

@keyframes blinkCursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.title-text {
  font-size: 61px;
  font-family: "DotGothic16", sans-serif;
  animation: typing 5s steps(30) forwards, blinkCursor 0.75s step-end infinite,
    
}

/* Moving cloud animation */
@keyframes moveCloud {
  0% {
    left: -55vw;
  }
  100% {
    left: 100%;
  }
}

.moving-cloud {
  position: absolute;
  top: 31vh; /* Adjust the vertical position as needed */
  width: 17vw; /* Adjust the size of the cloud as needed */
  animation: moveCloud 40s linear infinite;
}

/* Rotating sun */
@keyframes rotateSun {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating-sun {
  animation: rotateSun 2s linear infinite;
  height: 100px;
}

/* top right */
.sun1 { 
  position: relative;
  top: -470px;
  right: -990px;
}

/* bottom centre */
.sun2 {
  position: relative;
  top: 490px;
  right: 100px;
}

/* top left */
.sun3 {
  position: relative;
  top: -470px;
  left: -620px;
}

section {
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro {
  background-color: black;
}

/* FIRST SLIDE */
.container {
  width: 100vw;
  max-width: 100vw;
  background-color: rgb(243, 202, 249);
  background-image: url("src/Elements/classic-world-video-game-background-free-vector.jpg");
  background-size: cover; /* Cover ensures that the background covers the entire slide */
  background-position: center;
}

/* SECOND SLIDE */
.second {
  width: 100vw;
  height: 200vh;
  background-color: goldenrod;
}

/* THIRD SLIDE */
#third {
  background-color: rgb(71, 14, 64);
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* FOURTH SLIDE */
.fourth {
  background-color: whitesmoke;
  color: seagreen;
}

.tooltip {
  opacity: 0;
  position: absolute;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  color: #fff;
  pointer-events: none; /* This line is important: it makes the tooltip ignore mouse events */
}

/* button */

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #ffda00;
  border: none;
  cursor: pointer;
  /* Add more styling as needed */
}

/* locomotive scroll */

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}
